.Roles {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 96px min-content;
  padding-top: 7px;
  padding-left: 15px;
  overflow-x: auto;

  &__header {
    display: grid;
    grid-template-columns: 211px 1fr 20fr;
    align-items: center;
    grid-gap: 24px;

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-modules {
      display: grid;
      grid-auto-columns: 24px;
      grid-auto-flow: column;
      grid-column-gap: 24px;
      align-items: end;
      justify-items: center;
    }

    &-modules > span {
      transform: rotate(180deg);
      writing-mode: vertical-lr;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 24px;
    grid-row-gap: 12px;
    padding-top: 84px;
  }

  &__row {
    display: grid;
    grid-template-columns: 211px 1fr 20fr;
    grid-column-gap: 24px;
    grid-auto-rows: 24px;

    &-name {
      display: grid;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-buttons {
      display: grid;
      grid-auto-columns: 24px;
      grid-auto-flow: column;
      grid-column-gap: 24px;
    }

    // display only on hover
    &-actions {
      display: none;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__row:hover {
    background-color: var(--gray-light-2);
  }

  &__row:hover &__row-actions {
    display: flex;
  }

  &__button {
    width: 24px;
    height: 24px;
  }

  &__add {
    padding-top: 12px;
    color: var(--gray-medium);
    display: grid;
    grid-row-gap: 12px;
    grid-template-rows: 24px 24px;

    &-row {
      display: grid;
      grid-column-gap: 20px;
      grid-auto-rows: 24px;
      grid-template-columns: 24px 1fr;
      cursor: pointer;
    }

    &-row:hover {
      background-color: var(--gray-light-2);
    }
  }

  &__wrapper {
    display: contents;
  }
}
