$white: #fff;

$black: #000;
$text-color: $black;
$black-light: #4f4f4f;

$gray-light: #f2f2f2;
$gray-light-2: #e9e9e9;
$gray-medium: #bdbdbd;
$gray-dark: #828282;

$primary: #1f26cd;
$menu-border-color: #1f26cd;

$primary-light: #696ff9;

$danger: red;

$border-color: $gray-medium;

$menu-background: $white;


$theme-colors: (
        "text-color": $black,
        "menu-background": $menu-background,
        "menu-border-color": $menu-border-color,
        "gray-dark": $gray-dark
);
